.idea/*
!.idea/protobuf.xml
!.idea/protoeditor.xml
.gradle
**/build/*
/build/
**/bin/*
.classpath
**/.gitignore
.project
.settings
docker/tempo-data
*.exe
rust/target
golang/docker/cmd/
!golang/docker/cmd/.gitkeep
*.jfr
*.prof
*.pprof
k6/flamegraph-java.html
