apiVersion: 1

datasources:
- name: Prometheus
  uid: prometheus
  type: prometheus
  access: proxy
  orgId: 1
  url: http://distributed-transactions-practice-prometheus-1:9090
  basicAuth: false
  isDefault: true
  version: 1
  editable: false
  jsonData:
    httpMethod: GET
- name: Tempo
  type: tempo
  access: proxy
  orgId: 1
  url: http://distributed-transactions-practice-tempo-1:3200
  basicAuth: false
  isDefault: false
  version: 1
  editable: false
  apiVersion: 1
  uid: tempo
  jsonData:
    httpMethod: GET
    serviceMap:
      datasourceUid: 'prometheus'
    streamingEnabled:
      search: true

