name: distributed-transactions-practice
#include:
#  - docker-compose-commons.yaml

services:
  jvm-orders-grpc-service:
    depends_on:
      - postgres  
    deploy: &defaultDeploy
      resources: 
        limits:
          memory: 512m
        reservations:
          memory: 256m
    hostname: jvm-orders-grpc-service
    image: jvm-orders-grpc-service:latest
    ports:
      - "7080:7080"
      - "9080:9080"
    environment:
      # LOGGING_LEVEL_IO_R2DBC_POSTGRESQL_QUERY: TRACE
      OTEL_EXPORTER_OTLP_ENDPOINT: http://distributed-transactions-practice-otel-collector-1:4317
      SPRING_DATASOURCE_URL: jdbc:postgresql://distributed-transactions-practice-postgres-1:5432/jvm_orders
      SPRING_R2DBC_URL: r2dbc:postgresql://distributed-transactions-practice-postgres-1:5432/jvm_orders
      SERVICE_RESERVE_ADDRESS: jvm-reserve-grpc-service:9081
      SERVICE_WAREHOUSE_ADDRESS: jvm-reserve-grpc-service:9081
      SERVICE_PAYMENTS_ADDRESS: jvm-payments-grpc-service:9082
      SPRING_KAFKA_BOOTSTRAP_SERVERS: kafka-1:19092
      OTEL_SERVICE_NAME: jvm-orders
  jvm-payments-grpc-service:
    depends_on:
      - postgres  
    deploy: *defaultDeploy
    hostname: jvm-payments-grpc-service
    image: jvm-payments-grpc-service:latest
    ports:
      - "7082:7082"
      - "9082:9082"
    environment:
      # LOGGING_LEVEL_IO_R2DBC_POSTGRESQL_QUERY: TRACE
      OTEL_EXPORTER_OTLP_ENDPOINT: http://distributed-transactions-practice-otel-collector-1:4317
      SPRING_DATASOURCE_URL: jdbc:postgresql://distributed-transactions-practice-postgres-1:5432/jvm_payments
      SPRING_R2DBC_URL: r2dbc:postgresql://distributed-transactions-practice-postgres-1:5432/jvm_payments
      SPRING_KAFKA_BOOTSTRAP_SERVERS: kafka-1:19092
      OTEL_SERVICE_NAME: jvm-payments
  jvm-reserve-grpc-service:
    depends_on:
      - postgres  
    deploy: *defaultDeploy
    hostname: jvm-reserve-grpc-service
    image: jvm-reserve-grpc-service:latest
    ports:
      - "7081:7081"
      - "9081:9081"
    environment:
      # LOGGING_LEVEL_IO_R2DBC_POSTGRESQL_QUERY: TRACE
      OTEL_EXPORTER_OTLP_ENDPOINT: http://distributed-transactions-practice-otel-collector-1:4317
      SPRING_DATASOURCE_URL: jdbc:postgresql://distributed-transactions-practice-postgres-1:5432/jvm_reserve
      SPRING_R2DBC_URL: r2dbc:postgresql://distributed-transactions-practice-postgres-1:5432/jvm_reserve
      SPRING_KAFKA_BOOTSTRAP_SERVERS: kafka-1:19092
      OTEL_SERVICE_NAME: jvm-reserve
